.header {
  display: flex;
  justify-content: center;
  align-content: center;
}
.header flex-direction img {
  display: flex;
}
.header .title {
  display: flex;
  flex-direction: row;
}
.card-container {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}
.card-container img {
  width: 100%;
}
